# This file lists other files that we don't want to end up
# in git. So here we tell git to ignore there

# Some Python internal stuff that we can ignore
__pycache__

# Mac internal files that we can ignore as well
.DS_Store
